*{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
  body{
    font-family: 'Open Sans', sans-serif;
  }

    

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 200px;
    
    
    
}
nav >ul{
     display: flex;
     margin-right: 90px;
         
}
.nav-title{
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;

}
.nav-title, a{
  padding-left: 50px;
}
nav,a{
  text-decoration: none;
  margin-right: 40px;
  
}
nav,li{
  list-style: none;
  align-items: center;
}
.btn-title{
  color: white;
  background-color: orangered;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}