*{
    margin: 0;
    padding: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
  body{
    font-family: 'Open Sans', sans-serif;
  }

  .header{
    background-color: bisque;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
  } 


nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 200px;
    
    
    
}
nav >ul{
     display: flex;
     margin-right: 90px;
     align-items: center;
         
}
.nav-title{
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;

}
.nav-title, a{
  padding-left: 50px;
}
nav,a{
  text-decoration: none;
  margin-right: 40px;
  color: black;
  /* align-items: ; */
  
}
nav,li{
  list-style: none;
  align-items: center;
}
.btn-title{
  color: white;
  background-color: orangered;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 30px;
}

.banner{
  padding: 30px 30px 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.banner-content{
  max-width: 410px;
}
.banner-profile-pic{
  width: 490px;
  display: flex;
}
.banner-greeting{
  font-size: 45px;
  color: #474747;
  font-weight: 700;

}
.banner-title{
  font-size: 50px;
  font-weight: 700;
  margin: 5px;
}
.about{
  border: 1px;
  border-radius: 10px;
  background-color: bisque;
  padding: 130px;

  margin: 130px;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.section-title {

 text-align: center;
 font-size: 45px;
 font-weight: 700;

}
.skill-description{
  padding: 30px;
}

.skill-container{
  display: flex;
  gap: 25px;
}
#what{
  margin: 30px 130px;
  /* padding: 30px; */
}
.class{
    padding: 30px;
    background:white;
    border-radius: 10px;
    box-shadow: 0 6px 50px 0 rgb(255, 192, 203);
}
.section-title{
  text-align: center;
}

.resume-container{
  display: flex;
}
.resume-column-title{
  font-size: 30px;
  font-weight: 700;
}
.resume-item-title{
      color: #474747;
}
.resume-item-school{
  color: #474747;
}
.btn-cv{
  text-align: center;
  margin-top: 60px;
}
footer{
  display: flex;
  gap: 100px;
  background-color: rgba(255, 228, 196, 0.723);
  padding: 130px 200px;
  margin-top: 100px;

}
.section-title{
  padding-bottom: 30px;
}
.footer-column{
  width: 50%;
}
.contact input[type="text"],.contact input[type="email"],textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  border: 0;
  width: 100%;
}
.social-links a{
  margin-right: 25px;
}